.anime-list {
    margin-top: 40px;
    min-height: 800px;
}
.anime-list__container {
    width: auto;
}
.anime-list__title {
    color: #F2F2F2;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.anime-grid {
    margin-top: 40px;
}
