.fav-content {
    width: max-content;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.fav-content__text {
    font-size: 16px;
    display: inline-block;
    padding-bottom: 5px;
    color: var(--bg-color);
    font-weight: bold;
}