* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #C4B940;
    --text-color: #4179dd;
    --title-color: #C4B940;
    --bg-homepage-color: #4a5bb8;
    --ffamily: "Play", sans-serif;
}
body {
    background-color: var(--bg-homepage-color);
}