.footer {
    margin-top: 40px;
    padding-bottom: 30px;
    background-color: #3871a2;
}
.footer .footer-content {
    display: flex;
    justify-content: center;
    padding: 24px;
}
.footer .footer-links {
    display: flex;
    gap: 25px;
}
.footer .footer-link {
    text-decoration: none;
    color: #302c2c;
}
.footer .footer-link:hover {
    color: #2b4251;
    text-decoration: underline;
}
.footer .footer-copyright {
    color: #302c2c;
    text-align: center;
    margin-bottom: 24px;
    font-size: 15px;
    padding-left: 15px;
}
.footer .api-info {
    color: #302c2c;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer .api-icon svg {
    color: #FFF;
}
