.user-info {
    width: max-content;
    position: relative;
}

.user-info span {
    color: var(--text-color);
    display: inline-block;
    padding-top: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}