.tabs {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tabs .tab {
    background: #83cf9ab8;
    padding: 16px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    font-family: var(--ffamily);
}
.tab span {
    user-select: none;
}
.tabs .tab:hover {
    cursor: pointer;
}
.tabs .active {
    background: var(--bg-color);
}