.favorites {
    min-height: 800px;
}
.favorites-content {
    padding-top: 40px;
    max-width: 1500px;
    margin: 0 auto;
}
.favorites__title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.favorites__title span{
    font-size: 30px;
    color: var(--bg-color);
    font-weight: bold;
    display: inline-block;
}

.favorites__subtitle p{
    color: #bebbbb;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}
.favorites__grid {
    margin-top: 40px;
}