.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--bg-color);
    transition: transform 0.3s ease-in, background-color 0.3s linear;
    padding-top: 15px;
    padding-bottom: 15px;
    &.scroll-down {
        transform: translateY(-100%);
    }
    &.scroll-up {
        transform: translateY(0%);
    }
}
.header-links {
    display: flex;
    gap: 15px;
    margin-left: 25px;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-login {
    display: flex;
    gap: 15px;
    margin-right: 25px;
    height: 40px;
}

.header-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.header-links-desktop {
    display: none;
}
.header-links-mobile {
    display: block;
}

@media (min-width: 769px) {
    .header-links-desktop {
        display: block;
    }
    .header-links-mobile {
        display: none;
    }
}