.header {
    display: flex;
    padding-top: 15px;
    background-color: var(--bg-color);
    transition: transform 0.3s ease-in, background-color 0.3s linear;

    &.scroll-down {
        transform: translateY(-100%);
    }
    &.scroll-up {
        transform: translateY(0%);
    }
}
.header-links {
    justify-content: left;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    gap: 15px;
}
.header-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.header-login {
    display: flex;
    gap: 15px;
    margin-right: 25px;
}

/*Media Queries*/

@media (max-width: 768px) {
    .header-links {
        justify-content: center;
        gap: 10px;
        padding-left: unset;
    }
}
